* {
    padding:0;
    margin:0;
    outline: 0;
    box-sizing:border-box;
}

nav { 
    height: 50px;
    width: 100%;

    padding: 0 10px;

    display:flex;
    align-items: center;
    justify-content: space-between;

    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: black;

    font-weight: bold;
    font-size: 1rem;
    font-family: 'Anek Tamil', sans-serif;
}

nav > a {
    color: black;
    cursor: pointer;

    text-decoration: none;
}

.container {
    width: 1000px;

    display:flex;
    flex-flow: row nowrap;

    margin: 20px 0 10px 10px;

    align-items: center;
    justify-content: space-between
}

.project-owners {
    opacity: 0.7;

    font-family: 'Anek Tamil', sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
}

.find-object-container {
    height: 50px;
    width: 450px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    margin: 20px 10px;
}

.find-video-button,
.load-video-button,
.save-video-button,
.delete-videos-button {
    width: 100px;
    height: 40px;

    padding: 0 0 0 5px;
    border-radius: 3px;
    border: none;
    background-color: #5C59A6;

    color: white;
    cursor: pointer;

    font-size:0.8rem;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;

    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.delete-videos-button {
    background-color: #F10E16;
}

.save-video-button,
.delete-videos-button {
    width: 200px;
    margin: 30px 5px;

    font-size: 0.9rem;
    justify-content: center;
}

.object-to-find-textbox,
.video-name-textbox {
    width: 340px;
    height: 40px;

    padding: 10px;

    background-color: white;
    border: none;
    border-bottom: 2px solid #707070;

    color: black;
    opacity: 0.7;
    font-family: "Open Sans", sans-serif;
    font-size: 0.8rem;
    font-weight: normal;
}

.found-object-picture { 
    height: 299px;
    width: 299px;

    object-fit: cover;

    border:none;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius:3px;
}


.error-bar {
    font-size: 0.9rem;

    position: absolute;
    top: 400px;
    left: 20px;

    font-weight: 600;
    font-family: 'Roboto Mono', monospace;
}

button:disabled {
    background-color: #7D7AB8;
    color: #ccc;
    cursor: default;
}

button:hover:disabled {
    background-color: #7D7AB8;
    color: rgba(0,0,0,0.6);
    cursor: not-allowed;
}

button:active {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transform: scale(0.95, 0.95);
}

.image-container {
    position: relative;
    width: 299px;
    height: 299px;
}

.image-class-name {
    width: 299px;
    height: 50px;

    background-color: rgba(0,0,0,0.51);

    color: white;
    font-family:"Open Sans", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    position:absolute;
    top: 0;
    right: 0;
    left:0;

    border-radius: 3px 3px 0 0;
}


.index-name,
.class-name-predicted {
    opacity: 0;
}